<div class="show-container">
  
  <div class="article-container">
    <%= link_to "All articles", articles_path %></li> 
    <div class="article-card flex-center">
      <h1><%= @article.title %></h1>

      <p><%= @article.body %></p>
    </div>

    <div class="article-edit-options">
      <%= link_to "Edit Article", edit_article_path(@article) %></li>
        
      <%= link_to "Destroy", article_path(@article), data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        } %>
    </div>
  </div>
  

  <div class="comments-container">
    <h2>Comments</h2>
      <%= @article.comments.any? ? render(@article.comments) : content_tag(:p, "Nothing to show yet...", class: "no-comments") %>


    <h2>Add a comment</h2>
    <%= render "comments/form", article: @article %>
  </div>
</div>
